%h1 Translations

%dl.nice.contained.tabs
  %dd
    %a.active{:href => "#add"} Add translation
  %dd
    %a{:href => "#translations"} All translations
  
-#  - @locales.each do |locale|
-#    %dd
-#      %a{:href => "##{locale}"}
-#        = "#{locale}"

%ul.nice.tabs-content.contained
  %li#addTab.active
    = render "add"
  %li#translationsTab
    = render "translations"